<a id="simple-menu" href="#sidr">=</a>

<div id="sidr">
    <!-- Your content -->
    <ul>
        <li>
            <h3>Name that Designer</h3>
        </li>
        <li><a href="http://multichoiceapp.herokuapp.com">New Game</a>
        </li>
        <li><a href="#">Highscores</a>
        </li>
        <li><a href="#">Trophies</a>
        </li>
        <li><a href="#">Settings</a>
        </li>
        <li><a href="#">Logout</a>
        <li><a href="#">?</a>
        </li>

    </ul>
</div>
<script>
    $(document).ready(function () {
        $('#simple-menu').sidr();
    });
</script>
 <div class="container-narrow">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
      	<ul class="nav nav-pills"><h3>
  <li class="btn btn-blank btn-lg btn-block" ><a href="#" onclick="selfScores();$('li').removeAttr('class');$(this).parent('li').attr('class','active')">Your Scores</a></li>
  <li class="btn btn-blank btn-lg btn-block"><a href="#" onclick="friendScores();$('li').removeAttr('class');$(this).parent('li').attr('class','active')">Friends</a></li>
  <li class="btn btn-blank btn-lg btn-block"><a href="#" onclick="globalScores();$('li').removeAttr('class');$(this).parent('li').attr('class','active')">Global</a></li>
  </ul></h3>
  </div>
</div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
     
            <%=hidden_field_tag :auth_token,session[:access_token],:id => "access_tkn"%>
            <table class="table" id="data_table">               
              <tbody id="selfData">
                <% if !session[:user_id].nil? %>
                      <% @user = User.find_by_uid(session[:user_id]) unless session[:user_id] %>
                      <% i = 1 %>
                      <% @scores.each do |s| %>
                      <tr>
                        <% if i < 4 %>
                          <!-- <td><h5><%=image_tag(@user.img, :style => "border-radius:30px; margin:3px", :size => '25x25' )%></h5></td> -->
                          <td><h6><%=@user.name %></h6></td>
                          <td><h6><%=s.points %></h6></td>
                        <% else %>
                          <!-- <<td><h5><%=image_tag(@user.img) %></h5></td> -->
                          <td><h5><%=@user.name %></h5></td>
                          <td><h5><%=s.points %></h5></td>
                        <% end %>
                      </tr>
                      <% end %>
                 <% else %>
                    <tr>
                      <td>
                        <center>
                          </br>
                      <h2>
                      Last played score : <%= session[:total_score] %>
                      <h2>
                      <a href="">Login</a> to save
                      </h2>
                    </center>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
               
            </table>
       
      
      </div>
    </row>
</div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <a class="btn btn-blank btn-lg btn-block" href="/start">Play Again</a>
        </div>
      </div>
    </div> <!-- /container -->

    <script type="text/javascript">
      function friendScores(){
        var token = $("#access_tkn").val();
        $.ajax({
                url: "https://graph.facebook.com/me/friends?limit=100000&offset=0&fields=installed&installed=true&access_token="+token,
                type: "GET",
                success: function(resp){
                  console.log(resp);
                  var arr = [9, 9, 111, 2, 3, 4, 4, 5, 7];
                  var friends_data = resp.data
                  //var sorted_arr = friends_data.sort(); // You can define the comparing function here.
                                               // JS by default uses a crappy string compare.
                  var results = [];
                  for (var i = 0; i < friends_data.length - 1; i++) {
                      if (friends_data[i].installed == true) {
                          results.push(friends_data[i].id);
                      }
                  }
                  getFriendsData(results);
                  console.log(results);
                }
            });
      }

      function getFriendsData(arrObj){
        $.ajax({
                      url: "/getFriendsData",
                      type: "GET",
                      data: {'ids' : arrObj },
                      success: function(response){
                        $("#data_table").html(response);
                        //$("#selfData").hide();
                      }
                  });
      }

      function selfScores(){window.location.href = "/highscores"
      };

      function globalScores(){
        $.ajax({
                      url: "/getGlobalData",
                      type: "GET",
                     // data: {'ids' : arrObj },
                      success: function(response){
                        $("#data_table").html(response);
                        //$("#selfData").hide();
                      }
                  });
      }

    </script>