 <div class="container-narrow">
        <div class="navbar-header text-center">
        <h1>HIGH SCORES</h1>

      </div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
      	<ul class="nav nav-pills">
  <li class="active"><a href="#" onclick="selfScores();$('li').removeAttr('class');$(this).parent('li').attr('class','active')">YOUR SCORES</a></li>
  <li><a href="#" onclick="friendScores();$('li').removeAttr('class');$(this).parent('li').attr('class','active')">FRIENDS</a></li>
  <li><a href="#" onclick="globalScores();$('li').removeAttr('class');$(this).parent('li').attr('class','active')">GLOBAL</a></li>
  </ul>
  </div>
</div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
<%=hidden_field_tag :auth_token,session[:access_token],:id => "access_tkn"%>
      	<table class="table" id="data_table">
        <tbody id="selfData">
          <% @user = User.find_by_uid(session[:user_id]) %>
          <% i = 1 %>
          <% @scores.each do |s| %>
          <tr>
            <% if i < 4 %>
              <!-- <td><h5><%=image_tag(@user.img, :style => "border-radius:30px; margin:3px", :size => '25x25' )%></h5></td> -->
              <td><h6><%=@user.name %></h6></td>
              <td><h6><%=s.points %></h6></td>
            <% else %>
              <!-- <<td><h5><%=image_tag(@user.img) %></h5></td> -->
              <td><h5><%=@user.name %></h6></td>
              <td><h5><%=s.points %></h6></td>
            <% end %>
          </tr>
          <% end %>   
          </tbody>
      	</table>
      </div>
    </row>
</div>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <a class="btn btn-playagain btn-lg text-center" href="/start">PLAY AGAIN</a>
        </div>
      </div>
    </div> <!-- /container -->

    <script type="text/javascript">
      function friendScores(){
        var token = $("#access_tkn").val();
        $.ajax({
                url: "https://graph.facebook.com/me/friends?limit=100000&offset=0&fields=installed&installed=true&access_token="+token,
                type: "GET",
                success: function(resp){
                  console.log(resp);
                  var arr = [9, 9, 111, 2, 3, 4, 4, 5, 7];
                  var friends_data = resp.data
                  //var sorted_arr = friends_data.sort(); // You can define the comparing function here.
                                               // JS by default uses a crappy string compare.
                  var results = [];
                  for (var i = 0; i < friends_data.length - 1; i++) {
                      if (friends_data[i].installed == true) {
                          results.push(friends_data[i].id);
                      }
                  }
                  getFriendsData(results);
                  console.log(results);
                }
            });
      }

      function getFriendsData(arrObj){
        $.ajax({
                      url: "/getFriendsData",
                      type: "GET",
                      data: {'ids' : arrObj },
                      success: function(response){
                        $("#data_table").html(response);
                        //$("#selfData").hide();
                      }
                  });
      }

      function selfScores(){window.location.href = "/highscores"
      };

      function globalScores(){
        $.ajax({
                      url: "/getGlobalData",
                      type: "GET",
                     // data: {'ids' : arrObj },
                      success: function(response){
                        $("#data_table").html(response);
                        //$("#selfData").hide();
                      }
                  });
      }

    </script>