
<div class="container-narrow">
      <div class="row">

          <div class="col-lg-2">
            <%if !session[:user_id].nil?%>
                     <% @user = User.find_by_uid(session[:user_id]) %>
                    <%=image_tag(@user.img,:style => "float:left; margin-top:0px; margin-top:10px; border-radius: 35px;", :size => '25x25') %>
                     <%= link_to "Logout", "/sessions/destroy" %>
           <% else %>
                 <img src="http://www.placecage.com/c/30/30">
            <% end %>
          </div>
          <div class="col-lg-2 pull-right">
          </div>
      </div>
      <div class="jumbotron" style="min-height:200px">
        <div class="img-thumbnail">
            <%=image_tag "https://api.svpply.com/v1/products/#{@product[0].product_id}/image", :id => "prod_img" %>
        </div>
        <input type="button" hidden="hidden" id="btn-next" onclick="nextPage()" value="Next"  style="display:none"></input></b> <b><a href=<%=@buy_url%>   target="_blank"><input type="button" hidden="hidden"  id="btn-buy" onclick="" value="Buy"  style="display:none"></input>
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
          <% @selected_store_names.each do |a| %>
          <a href="#" onclick="checkAnswer(this.id)" class="btn btn-danger btn-lg btn-block" id=<%= a.delete(' ')  %> ><%=  a %> </a>
            <%#*<a class="btn btn-danger btn-lg btn-block" href="#">INCORRECT</a>%>
          <% end %>
          <%#*<a class="btn btn-success btn-lg btn-block" href="#">CORRECT</a>%>
          <%#*<a class="btn btn-danger btn-lg btn-block" href="#">INCORRECT</a>%>
          <%#*<a class="btn btn-danger btn-lg btn-block" href="#">INCORRECT</a>%>
        </div>
    </div>
</div>



<script>
  $(document).ready(function(){
   // $(".ansChoice input[type=radio]").change( function() { alert('wtf'); });
     var opts = {
      lines: 13, // The number of lines to draw
      length: 5, // The length of each line
      width: 5, // The line thickness
      radius: 50, // The radius of the inner circle
      corners: 1, // Corner roundness (0..1)
      rotate: 0, // The rotation offset
      direction: 1, // 1: clockwise, -1: counterclockwise
      color: '#000', // #rgb or #rrggbb
      speed: 1, // Rounds per second
      trail: 60, // Afterglow percentage
      shadow: false, // Whether to render a shadow
      hwaccel: false, // Whether to use hardware acceleration
      className: 'spinner', // The CSS class to assign to the spinner
      zIndex: 2e9, // The z-index (defaults to 2000000000)
      top: 'auto', // Top position relative to parent in px
      left: 'auto' // Left position relative to parent in px
    };
    var target = document.getElementById('prod_img');
    var spinner = new Spinner(opts).spin(target);
   $('input:radio[name="answer"]').change(
    function(){
        if ($(this).is(':checked')) {
          var idVal = $(this).val();
          
          $.ajax({
              url: "/check_me",
              type: "post",
              data: {'val' : idVal },
              success: function(data){
                console.log(data);
                if(data == 'true' || data == true){
                  $("#Status").html("Congrats.. You won the game.");
                  $("#Status").attr('style','color:green');
                  $("#btn-next").show();
                  $("#btn-buy").show();
                }
                else{
                  $("#Status").html("Sorry.. You made a wrong choice.");
                  $("#Status").attr('style','color:#AAAAAA');                  
                }
              }
          });
            // append goes here
        }
    });

  });
  function nextPage(){
    window.location.href = '/home'
  }
  function checkAnswer(idVal){
    //$("#"+idVal).attr("onclick","#");
    $("#"+idVal).removeAttr("onclick");
    //this.attr("onclick","function(){}");
    $.ajax({
              url: "/check_me",
              type: "post",
              data: {'val' : idVal },
              success: function(data){
                console.log(data);
                if(data == 'true' || data == true){
                  //$("#Status").html("Congrats.. You won the game.");
                  //$("#Status").attr('style','color:green');
                  $("#"+idVal).attr('style','background-color:#6ABC8B');
                  $("a.btn").removeAttr("onclick");
                  $("#btn-next").show();
                  $("#btn-buy").show();
                }
                else if(data == 'false' || data == false){
                  //$("#Status").html("Sorry.. You made a wrong choice.");
                  //$("#Status").attr('style','color:red');
                  $("#"+idVal).attr('style','background-color:#CCCCCC');
                }
                else{
                  window.location.href = '/over'
                }
              }
          });
  }
</script>
