

<script>
    $(document).ready(function() {
            $(".btn-lg").css("display", "none");
            $(".btn-lg").fadeIn(800);
            $(".prod_img").css("display", "none");
            $(".prod_img").fadeIn(1000);
    });
</script>
<div class="container-narrow">
      <div class="row">
          <div class="col-lg-2">
            <h1><i class="icon-chevron-left"></i><div id="score_me"><%=@score.points%></div><h1>    
            <%#if !session[:user_id].nil?%>
                     <%# @user = User.find_by_uid(session[:user_id]) %>
                    <%#=image_tag(@user.img,:style => "left:0; top:0; margin-top:0px; z-index: 999999; border-radius:30px;", :size => '50x50') %>
            <%# end %>
          </div>
      </div>
      <div class="jumbotron" style="min-height:275px">
        <div class="prod_img">
            <%=image_tag "https://api.svpply.com/v1/products/#{@product[0].product_id}/image", :class => "img-thumbnail" %>
        </div>
        <i type="button" hidden="hidden" id="btn-buy" onclick="" value="" style="display:none"><i class="icon-tag "></i>Buy</i>
        <i type="button" hidden="hidden" id="btn-next" onclick="nextPage()" value="" style="display:none"><i class="icon-arrow-right"></i>Next</i><a href=<%=@buy_url%> target="_blank">
      </div>
      <div class="row marketing">
        <div class="col-lg-12" style="padding-bottom:20px; border-radius:10px;">
          <% @selected_store_names.each do |a| %>
          <a href="#" onclick="checkAnswer(this.id)" class="btn btn-danger btn-lg btn-block" id=<%= a.gsub(/\W+/, '') %> ><%= a %> </a>
            <%#*<a class="btn btn-danger btn-lg btn-block" href="#">INCORRECT</a>%>
          <% end %>
          <%#*<a class="btn btn-success btn-lg btn-block" href="#">CORRECT</a>%>
          <%#*<a class="btn btn-danger btn-lg btn-block" href="#">INCORRECT</a>%>
          <%#*<a class="btn btn-danger btn-lg btn-block" href="#">INCORRECT</a>%>
        </div>
    </div>
</div>



<script>
  $(document).ready(function(){
   // $(".ansChoice input[type=radio]").change( function() { alert('wtf'); });
   var opts = {};
    var target = document.getElementById('prod_img');
    var spinner = new Spinner(opts).spin(target);
   $('input:radio[name="answer"]').change(
    function(){
        if ($(this).is(':checked')) {
          var idVal = $(this).val();
          
          $.ajax({
              url: "/check_me",
              type: "post",
              data: {'val' : idVal },
              success: function(data){
                console.log(data);
                if(data == 'true' || data == true){
                  $("#Status").attr('style','color:#6ABC8B');
                  $("#btn-next").show();
                  $("#btn-buy").show();
                }
                else{
                  $("#Status").attr('style','color:#AAAAAA');
                }
              }
          });
            // append goes here
        }
    });

  });
  function nextPage(){
    window.location.href = '/home'
  }
   function checkAnswer(idVal){
    //$("#"+idVal).attr("onclick","#");
    $("#"+idVal).removeAttr("onclick");
    //this.attr("onclick","function(){}");
    $.ajax({
              url: "/check_me",
              type: "post",
              data: {'val' : idVal },
              success: function(data){
                console.log(data);
                if(data.valid == 'true' || data.valid == true){
                  $("#"+idVal).attr('style','background-color:#6ABC8B');
                  $("a.btn").removeAttr("onclick");
                  $("#btn-next").show();
                  $("#btn-next").fadeIn(1000);
                  $("#btn-buy").show();
                  $("#score_me").html(data.score);
                }
                else if(data.valid == 'false' || data.valid == false){
                  //$("#Status").html("Sorry.. You made a wrong choice.");
                  //$("#Status").attr('style','color:red');
                  $("#"+idVal).attr('style','background-color:#cccccc');
                }
                else{
                  window.location.href = '/over'
                }
              }
          });
  }
</script>