<a id="simple-menu" href="#sidr">=</a>

<div id="sidr">
    <!-- Your content -->
    <ul>
        <li>
            <h3>Name that Designer</h3>
        </li>
        <li><a href="#">New Game</a>
        </li>
        <li><a href="#">Highscores</a>
        </li>
        <li><a href="#">Trophies</a>
        </li>
        <li><a href="#">Settings</a>
        </li>
        <li><a href="#">Logout</a>
        <li><a href="#">?</a>
        </li>

    </ul>
</div>

<script>
    $(document).ready(function () {
        $('#simple-menu').sidr();
    });
</script>
<script>
    $(document).ready(function () {
        $(".btn-lg").css("display", "none");
        $(".btn-lg").fadeIn(800);
        $(".prod_img").css("display", "none");
        $(".prod_img").fadeIn(1000);
    });
</script>

<div class="container-narrow">
    <%#if !session[:user_id].nil?%>
        <%# @user=U ser.find_by_uid(session[:user_id]) %>
            <%#=image_tag(@user.img,:style=>"left:0; top:0; margin-top:0px; z-index: 999999; border-radius:30px;", :size => '50x50') %>
                <%# end %>
                    <div class="win">
                        <a href=<%=@buy_url%> target="_blank"><i type="button" hidden="hidden" id="btn-buy" onclick="" value="" style="display:none">Buy</i></a>
                        <i type="button" hidden="hidden" id="btn-next" onclick="nextPage()" value="" style="display:none">Next</i>
                    </div>
                    <%=image_tag "https://api.svpply.com/v1/products/#{@product[0].product_id}/image?type=medium", :class=>"img-product", :alt=> "", :style => "" %>
                        <div class="row">
                            <div class="col-lg-6">
                                <% @selected_store_names.each do |a| %>
                                    <a href="#" onclick="checkAnswer(this.id)" class="btn btn-danger btn-lg" id=<%=a .gsub(/\W+/, '') %> ><%= a %> </a>
                                    <%#*<a class="btn btn-danger btn-lg btn-block" href="#">INCORRECT</a>%>
                                        <% end %>
                                            <div class="scoreme">Score
                                                <%=@score.points%>
                                            </div>

                                            <%#*<a class="btn btn-success btn-lg btn-block" href="#">CORRECT</a>%>
                                                <%#*<a class="btn btn-danger btn-lg btn-block" href="#">INCORRECT</a>%>
                                                    <%#*<a class="btn btn-danger btn-lg btn-block" href="#">INCORRECT</a>%>
                            </div>
                        </div>
                        <div class="footer">
                        </div>
</div>


<script>
    $(document).ready(function () {
        // $(".ansChoice input[type=radio]").change( function() { alert('wtf'); });
        var opts = {};
        var target = document.getElementById('prod_img');
        var spinner = new Spinner(opts).spin(target);
        $('input:radio[name="answer"]').change(
            function () {
                if ($(this).is(':checked')) {
                    var idVal = $(this).val();

                    $.ajax({
                        url: "/check_me",
                        type: "post",
                        data: {
                            'val': idVal
                        },
                        success: function (data) {
                            console.log(data);
                            if (data == 'true' || data == true) {
                                $("#Status").attr('style', 'color:#68DDAB');
                                $("#btn-next").show();
                                $("#btn-buy").show();
                            } else {
                                $("#Status").attr('style', 'color:#AAAAAA');
                            }
                        }
                    });
                    // append goes here
                }
            });

    });

    function nextPage() {
        window.location.href = '/home'
    }

    function checkAnswer(idVal) {
        //$("#"+idVal).attr("onclick","#");
        $("#" + idVal).removeAttr("onclick");
        //this.attr("onclick","function(){}");
        $.ajax({
            url: "/check_me",
            type: "post",
            data: {
                'val': idVal
            },
            success: function (data) {
                console.log(data);
                if (data.achieved == true) {
                    notify({
                        title: data.badge_name,
                        message: "you unlocked this",
                        icon: data.badge_url,
                        delay: 5000
                    });
                }
                if (data.valid == 'true' || data.valid == true) {
                    iosOverlay({
                        text: "Correct!",
                        duration: 2e1
                    });

                    $("#" + idVal).attr('style', 'color:#53F49A;');
                    $("a.btn").removeAttr("onclick");
                    $("#btn-next").show();
                    $("#btn-next").fadeIn(1000);
                    $("#btn-buy").show();
                    $("#score_me").html(data.score);
                } else if (data.valid == 'false' || data.valid == false) {
                    //$("#Status").html("Sorry.. You made a wrong choice.");
                    //$("#Status").attr('style','color:red');
                    iosOverlay({
                        text: "Try Again!",
                        duration: 5000
                    });
                    $("#" + idVal).attr('style', '');
                } else {
                    window.location.href = '/over'
                }
            }
        });
    }
</script>